$bold-font-stack: "nimbus-sans",sans-serif;
$body-font-stack: "nimbus-sans",sans-serif;
$primary-color: #1BBB9A;
$dark-color: #1e1e1e;
$invalid: #FB5639;
$valid: #04b38c;

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@-webkit-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@keyframes fadeOut { from { opacity:1; } to { opacity:0; } }

* { box-sizing: border-box; }

img{
    max-width:100%;
    height:auto;
}

.fade{
    opacity:0;
    -webkit-animation:fadeIn ease-in 1s;
    animation:fadeIn ease-in 1s;
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
}

.out{
    opacity:0;
    -webkit-animation:fadeOut ease-in 1s;
    animation:fadeOut ease-in 1s;
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
}

.trans-in{
    top:-100%;
    -webkit-animation:animateArticle ease-out 0.75s;
    animation:animateArticle ease-out 0.75s;
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
}

.trans-out{
    top:0;
    -webkit-animation:animateArticleOut ease-out 0.75s;
    animation:animateArticleOut ease-out 0.75s;
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
}

body, html{
    height:100%;
}

body{
    background:#ffffff;
    color:#121314;
    line-height:1em;
    font-size:14px;
    font-family:$bold-font-stack;
    height:100%;
    overflow-x:hidden;
}

h1{
    text-transform:uppercase;
}

nav{
    position:fixed;
    right:0;
    top:0;
    width:250px;
    height:100%;
    background:$dark-color;
    color:#fff;
    padding:20px;
    box-sizing: border-box;
}

nav ul{
    list-style:none;
    padding:0;
    margin:0;
}

nav ul li{
    font-family:$body-font-stack;
    letter-spacing:0.1em;
    font-size:18px;
    text-transform:uppercase;
    padding:0;
    margin:0 0 20px;
}

nav ul li a{
    font-family:$body-font-stack;
    letter-spacing:0.1em;
    font-size:18px;
    color:#fff;
    text-decoration:none;
}

nav ul li a:hover, nav ul li a.on{
    color:$primary-color;
    cursor:pointer;
}

#wrapper{
    box-sizing: border-box;
    padding:0 30px;
    width:calc(100% - 250px);
}

#toggle{
    position:fixed;
    right:10px;
    top:17px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    cursor:pointer;
    font-size:24px;
}

#toggle:hover{
    color:$primary-color;
}

nav.open{
    right:0;
}


nav{
    right:-250px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

nav.open{
    right:0;
}

#wrapper{
    width:100%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#wrapper.open{
    width:calc(100% - 250px);
}

#toggle.open{
    right:270px;
    color:$primary-color;
}

@media only screen and (max-width : 1023px) {
}


#wrapper table{
    border-collapse: separate !important;
    border-spacing: 0;
    margin:25px 0;
    width:100%;
}

#wrapper table tr{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#wrapper table tr:hover{
    background:#eee;
}

#wrapper table tr th{
    background:$dark-color;
    color:#fff;
    padding:15px 10px;
    vertical-align:middle;
    text-align:center;
    border: none;
}

#wrapper table tr td{
    padding:20px 10px;
    vertical-align:middle;
    text-align:center;
    border:none;
    width:auto;
    position:relative;
}

#wrapper table tr td .fa-circle{
    color:#b4b4b4;
    cursor:pointer;
}

#wrapper table tr td .fa-check-circle{
    color:#f9d423;
    cursor:pointer;
}

#wrapper table tr td .fa-user{
    margin-left:10px;
    cursor:pointer;
}

#wrapper table tr td .fa-image{
    position:absolute;
    display:inline-block;
    top:5px;
    right:5px;
    color:#ccc;
}

#wrapper table tr td .fa-image .loader{
    width:20px;
    height:20px;
}

#wrapper table tr td input{
    min-width:inherit;
    max-width:100%;
    width:100%;
    display:inline-block;
    outline:0;
    box-shadow:none;
    padding:5px 0;
    box-sizing:border-box;
    text-align: center;
    font-size:14px;
    font-family:$bold-font-stack;
    float:left;
    clear:both;
    text-align:center;
}


label{
    display:block;
    font-family:$body-font-stack;
    font-size:16px;
    margin-bottom:10px;
    text-transform:uppercase;
    color:#2e2e2e
}

.row{
    margin:20px 0;
}

.row input, .row textarea{
    width:250px;
    padding:10px;
    font-family:$body-font-stack;
    font-size:16px;
    outline:none;
    outline-color:none;
    border:solid 1px #eee;
}

.row input:focus, .row textarea:focus{
    border:solid 1px $primary-color;
}

.row input[type="submit"]{
    width:250px;
    background:$dark-color;
    color:#fff;
    font-family:$body-font-stack;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    text-shadow:none;
}

.row input[type="button"]{
    width:250px;
    background:#eee;
    color:#000;
    font-family:$body-font-stack;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    text-shadow:none;
}

.row input[type="button"]:hover, .row input[type="submit"]:hover{
    background:$primary-color;
    cursor:pointer;
    text-shadow:none;
}

.row input[type="button"]:disabled{
    background:#ccc;
}

#error{
    font-size:24px;
    color:$invalid;
    font-family:$body-font-stack;
}


.divider{
    margin:20px 0;
    height:1px;
    border:solid 1px #eeeeee;
}

.fa-trash{
    cursor:pointer;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.fa-trash:hover{
    color:$primary-color;
}


.blklab-activity{
    position:fixed;
    color:#ffffff;
    font-size:12px;
    z-index:99999999;
    font-family:$body-font-stack;
    letter-spacing:0.05em;
    background:$dark-color;
    border:solid 4px $dark-color;
    padding:0;
    overflow:auto;
    top:30%;
    width:1px;
    left:40%;
    height:1px;
    opacity:0;
    -webkit-transition:all 2s ease-in-out;
    -moz-transition:all 2s ease-in-out;
    transition:all 2s ease-in-out;
}

.blklab-activity.open{
    width:515px;
    height:540px;
    opacity:1;
}

.blklab-activity #close{
    position:absolute;
    top: 10px;
    right:10px;
    font-family:$body-font-stack;
    letter-spacing:0.05em;
    color:#ffffff;
    cursor:pointer;
    z-index:20;
}

.blklab-activity h2{
    font-family:$body-font-stack;
    letter-spacing:0.05em;
    color:#ffffff;
    margin:0;
    padding:10px;
    font-size:14px;
    text-transform:uppercase;
}

.blklab-activity .table{
    width:100%;
}

.blklab-activity .table .row{
    color:#ffffff;
    font-size:14px;
    font-family:$body-font-stack;
    letter-spacing:0.05em;
    text-align:right;
    padding:10px;
    margin:0;
    position:relative;
    border-bottom:solid 1px rgba(0,0,0,0.2);
}

.blklab-activity .table .row .text{
    position:relative;
    z-index:10;
}

.blklab-activity .table .row.fail{
    background:rgba(255,0,0,0.4);
}

.progress_bar{
    width:0;
    height:100%;
    position:absolute;
    z-index:9;
    background:rgba(27,187,154,.65);
    top:0;
    left:0;
}


.page_col{
    height:calc(100% - 15px);
    display:inline-block;
    width:24%;
    vertical-align:top;
    position:relative;
}

#pages ul{
    list-style:none;
    padding:0;
    margin:0;
}

#pages .header{
    width:100%;
    padding:0 0 15px;
    box-sizing:border-box;
}

#pages .search, .page_col .search{
    position:absolute;
    right:0;
    bottom:0;
    max-width:50%;
}

#pages .search input, .page_col .search input{
    width:100%;
}

#pages .search .fa-search, .page_col .search .fa-search{
    position:absolute;
    margin-left:-20px;
    margin-top:2px;
}

#stack{
    height:calc(100% - 35px);
    display:inline-block;
    width:74%;
    vertical-align:top;
}

#stack .header{
    min-height:50px;
    margin:0;
    display:table;
    width:100%;
    border: solid 1px #eee;
    padding:0;
}

#stack .header.entered{
    background:#eee;
}

#stack .header li{
    display:table-cell;
    border-right:solid 1px #eee;
    padding:15px;
}

#stack .header li:hover, #stack .header li.selected{
    background:#eee;
}

#stack .header li:last-child{
    border:none;
}

#stack .header li:first-child{
    border-right:solid 1px #eee;
}

[draggable="true"] {
    cursor: move;
}

[blklab-click], .click{
    cursor:pointer;
}

[draggable="true"]{
    cursor:move;
}

#pages ul li, #sub_nav li{
    margin: 0;
    padding: 15px 10px;
    border-bottom: solid 1px rgba(0,0,0,0.1);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#pages ul li{
    padding:15px 0;
}

#pages ul li:hover, #sub_nav li:hover{
    background:#eee;
}

#pages ul li .text{
    width:80%;
    overflow:hidden;
}

#pages ul li input{
    margin-top:0;
    width:80%;
    display:inline-block;
    vertical-align:middle;
    margin-right:1%;
}

#pages ul li input:focus{
    outline:none;
}

#pages ul li input.fifty{
    width:24%;
}

#pages ul li, #sub_nav li, #main_nav li{
    white-space:nowrap;
    position:relative;
}

#pages ul li .tools, #sub_nav li .tools, #main_nav li .tools{
    position:absolute;
    right:1%;
    top:15px;
    opacity:0;
    width:25%;
    text-align:right;
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
    white-space:nowrap;
}

#main_nav li .tools{
    top:15px;
}

#pages ul li:hover .tools, #sub_nav li:hover .tools, #main_nav li:hover .tools{
    opacity:1;
}

#pages ul li .fa{
    font-size:1em;
    display:inline-block;
    vertical-align:middle;
    width:5%;
}

#pages ul li .tools .fa{
    width:auto;
    margin-left:10%;
}

#pages ul li .tools .fa{
    color:$primary-color;
}

#pages ul li .tools .fa.bad{
    color:#F46442;
}

.fa-chevron-down{
    color:$primary-color;
}

.good{
    color:$primary-color;
}

.bad, .hover_bad:hover{
    color:#F46442;
}

.toolbar{
    position:relative;
    background:#555555;
    color:#1BBB9A;
    padding:15px;
}

.toolbar .right{
    position:relative;
    right:200px;
}

.toolbar .right .fa{
    padding:0 10px;
    cursor:pointer;
}

#sub_nav{
    padding:0;
    min-height:650px;
}

#sub_nav.entered{
    background:#e1e1e1;
}

#path {
    padding: 15px 15px 25px;
    height: 16px;
    background: #e1e1e1;
    color:$dark-color;
}

#sub_nav, #main_nav{
    list-style:none;
    margin:0;
}

#pages .header:hover{
    background:none;
}

.drop_area{
    min-height:650px;
    border:solid 1px #eee;
    position:relative;
}

#sub_nav li .cell{
    width:50%;
    display:inline-block;
}

#pages.page-list{
    max-height:740px;
    overflow:auto;
    border-bottom:solid 1px #eee;
}


.hide{
    display:none;
}

select{
    width:auto;
}

header{
    padding:20px;
}

header h1{
    font-size:24px;
    font: $body-font-stack;
}

.tabs{
    font-size: 15px;
    font-weight: 300;
    letter-spacing: -0.016em;
    background-color: #f9f9f9;
    padding:0 20px;
    border-bottom: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0;
}

.tabs ul{
    margin:0;
    padding:0;
}

.tabs ul li{
    display: inline-block;
    font-size: 16px;
    position: relative;
    height: 100%;
    text-align: center;
    margin-right: 20px;
    float: inherit;
    color: #4c4c4c;
    padding: 15px 5px;
    margin: 0px 20px;
}

.tabs ul li.active{
    border-bottom: solid 1px #000;
}

.col{
    display:inline-block;
    width: 48%;
    vertical-align:top;
}

.grid {
  display: flex;
  flex-wrap:wrap;
}

.grid h3{
    font-size: 15px;
    font-weight: 300;
    letter-spacing: -0.016em;
    background-color: #f9f9f9;
    border-bottom: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0;
    width: 100%;
    padding: 10px 0 10px 40px;
    display: block;
    margin: 20px 0;
}

.grid-cell {
  flex: 1;
  box-sizing:border-box;
  text-align:center;
  margin: 10px 1%;
  position:relative;;
}

.grid-cell .border{
    position: absolute;
    background-color: #d9d9d9;
    width: 1px;
    top: 0px;
    bottom: 0;
    right: -5%;
}

.grid-cell label{
    font-size: 10px;
    display: block;
    height: 48px;
    color: #4c4c4c;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.divider{
    background-color: #d9d9d9;
    height: 1px;
    margin:20px 0;
}

/* With gutters */
.grid--gutters {
  margin: -1em 0 0 -1em;
}
.grid--gutters > .grid-cell {
  padding: 1em 0 0 1em;
}

/* Alignment per row */
.grid--top {
  align-items: flex-start;
}
.grid--bottom {
  align-items: flex-end;
}
.grid--center {
  align-items: center;
}

/* Alignment per cell */
.grid-cell--top {
  align-self: flex-start;
}
.grid-cell--bottom {
  align-self: flex-end;
}
.grid-cell--center {
  align-self: center;
}

/* Base classes for all media */
.grid--fit > .grid-cell {
  flex: 1;
}
.grid--full > .grid-cell {
  flex: 0 0 100%;
}
.grid--1of2 > .grid-cell {
  flex: 0 0 50%
}
.grid--1of3 > .grid-cell {
  flex: 0 0 33.3333%
}
.grid--1of4 > .grid-cell {
  flex: 0 0 23%
}

.grid-cell-1of2{
    flex: 0 0 48%
}

.grid-cell-1of4{
    flex: 0 0 23%
}

/* Small to medium screens */
@media only screen and (max-width : 767px) {
    .grid > .grid-cell {
        flex: 0 0 100%;
    }
}

.total{
    font-size: 46px;
    padding-top: 30px;
    margin: 0 0 20px;
}

.percent{
    font-size: 12px;
    color: #666;
    margin-top: 30px;
}
