<section id="wrapper">
    <h2>Books</h2>
    <div class="row">
        <input type="search" id="search" blklab-typing="search" data-fields="title,publisher,author,illustrator,isbn" placeholder="Search title, publisher, author, illustrator or isbn" style="width:50%;">
    </div>

    <table border="1" class="bordered" id="data">
        <tr>
            <th>Book Title</th>
            <th>Publisher</th>
            <th>Author</th>
            <th>Illustrator</th>
            <th>Price</th>
            <th>ISBN</th>
            <th>Reading Time</th>
            <th></th>
        </tr>
    {{#each data}}
        <tr class="book" id="book-{{_id}}">
            <td class="inline" data-key="title" data-type="Stories" data-search="true" data-id="{{_id}}">{{title}}</td>
            <td class="inline" data-key="publisher" data-type="Stories" data-id="{{_id}}">{{publisher}}</td>
            <td class="inline" data-key="author" data-type="Stories" data-id="{{_id}}">{{author}}</td>
            <td class="inline" data-key="illustrator" data-type="Stories" data-id="{{_id}}">{{illustrator}}</td>
            <td class="inline" data-key="price" data-type="Stories" data-id="{{_id}}">{{price}}</td>
            <td class="inline" data-key="isbn" data-type="Stories" data-id="{{_id}}">{{isbn}}</td>
            <td class="inline" data-key="approx_reading_time" data-type="Stories" data-id="{{_id}}">{{approx_reading_time}}</td>
            <td><span style="cursor:pointer;" class="fa fa-pencil" data-href="/admin/stories/{{_id}}"></span> <span class="fa fa-trash" data-id="{{_id}}" data-type="Stories" blklab-click="remove"></span></td>
        </tr>
    {{else}}
        <tr>
            <td colspan="5">No Books</td>
        </tr>
    {{/each}}
    </table>

    <br>
    <br>
    <br>
    <br>
    <br>

    <span blklab-click="addBook" style="font-size:24px;">+</span>

    <div id="book-detail" class="hide">
        <h2>Add Book</h2>

        <form blklab-submit="createBook" id="form">

                <div class="row">
                    <label>Book Title</label>
                    <input type="text" name="title">
                </div>

                <div class="row">
                    <label>Author</label>
                    <input type="text" name="author">
                </div>

                <div class="row">
                    <label>Illustrator</label>
                    <input type="text" name="illustrator">
                </div>

                <div class="row">
                    <label>Price</label>
                    <input type="text" name="price">
                </div>

                <div class="row">
                    <label>Difficulty</label>
                    <input type="text" name="difficulty">
                </div>

                <div class="row">
                    <label>ISBN</label>
                    <input type="text" name="isbn">
                </div>

                <div class="row">
                    <label>Description</label>
                    <input type="text" name="Description">
                </div>
            <div class="row">
                <input type="submit" id="submit" value="Save Book">
            </div>

        </form>
    </div>

</section>

