<header>
    <h1>StorySnap Dashboard</h1>
</header>

<div class="tabs">
    <ul>
        <li class="active click" data-href="/admin/dashboard">Overview</li>
        <li>Metrics</li>
        <li class="click" data-href="/admin/dashboard/filter">Filters</li>
    </ul>
</div>

<section>
    <section class="grid">
        <h3>User Overview</h3>
        <div class="grid-cell grid-cell-1of4">
            <label>Total Users</label>
            <p class="total">{{data.totalUsers}}</p>
            <div class="border"></div>
        </div>

        <div class="grid-cell grid-cell-1of4">
            <label>Total Accounts Activated</label>
            <p class="total">{{data.totalUsersActivated}}</p>
            <p class="percent">{{data.totalUsersActivatedPercent}}</p>
            <div class="border"></div>
        </div>

        <div class="grid-cell grid-cell-1of4">
            <label>Total Active Users Who Have Yet To Perform Action</label>
            <p class="total">{{data.totalUsersActivatedNoAction}}</p>
            <p class="percent">{{data.totalUsersActivatedNoActionPercent}}</p>
        </div>

        <div class="divider"></div>

        <h3>User Activity</h3>

        <div class="grid-cell grid-cell-1of4">
            <label>Total Users Who Have Purchased a Story</label>
            <p class="total">{{data.totalUsersPurchasedStory}}</p>
            <p class="percent">{{data.totalUsersPurchasedStoryPercent}}</p>
            <div class="border"></div>
        </div>

        <div class="grid-cell grid-cell-1of4">
            <label>Total Users Who Have Recorded a Story</label>
            <p class="total">{{data.totalUsersRecorded}}</p>
            <p class="percent">{{data.totalUsersRecordedPercent}}</p>
            <div class="border"></div>
        </div>

        <div class="grid-cell grid-cell-1of4">
            <label>Total Users Who Have Shared A Story</label>
            <p class="total">{{data.totalUsersShared}}</p>
            <p class="percent">{{data.totalUsersSharedPercent}}</p>
            <div class="border"></div>
        </div>

        <div class="grid-cell grid-cell-1of4">
            <label>Total Users Who Have Invited Someone to Read a Story</label>
            <p class="total">{{data.totalUsersInvited}}</p>
            <p class="percent">{{data.totalUsersInvitedPercent}}</p>

        </div>

        <div class="divider"></div>

        <div class="grid-cell grid-cell-1of4">
            <label>Total Invites That Have Been Accepted</label>
            <p class="total">{{data.totalUsersAcceptedInvites}}</p>
            <p class="percent">{{data.totalUsersAcceptedInvitesPercent}}</p>
            <div class="border"></div>
        </div>

        <div class="grid-cell grid-cell-1of4">
            <label>Total Invites That Have Been Withdrawn</label>
            <p class="total">{{data.totalUsersWithdrawInvites}}</p>
            <p class="percent">{{data.totalUsersWithdrawInvitesPercent}}</p>
            <div class="border"></div>
        </div>

        <div class="divider"></div>

        <h3>User Profile</h3>

        <div class="grid-cell grid-cell-1of4">
            <label>Total Users Who Have Full Profile</label>
            <p class="total">{{data.totalUsersFullProfile}}</p>
            <p class="percent">{{data.totalUsersFullProfilePercent}}</p>
            <div class="border"></div>
        </div>


        <div class="grid-cell grid-cell-1of4">
            <label>Total Users With Profile Image</label>
            <p class="total">{{data.totalUsersProfileImage}}</p>
            <p class="percent">{{data.totalUsersProfileImagePercent}}</p>
            <div class="border"></div>
        </div>

        <div class="divider"></div>

    </section>
</section>
