<section id="wrapper">
    <a href="/admin">Back</a>

    <form blklab-submit="save" id="form">
        <h2>Edit Book</h2>

        <div class="divider"></div>

        <div class="row">
            <label>Active</label>
            <select name="active">
                {{#select data.active}}
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                {{/select}}
            </select>
        </div>

        <div class="divider"></div>

        <section class="col">

            <h3>Detail Fields</h3>
            <div class="row">
                <label>Book Title</label>
                <input type="text" name="title" value="{{data.title}}" placeholder="Book Title">
            </div>

            <div class="row">
                <label>Author</label>
                <input type="text" name="author" value="{{data.author}}" placeholder="Author">
            </div>

            <div class="row">
                <label>Author Surname</label>
                <input type="text" name="author_surname" value="{{data.author_surname}}" placeholder="">
            </div>

            <div class="row">
                <label>Author Link</label>
                <input type="text" name="author_link" value="{{data.author_link}}" placeholder="">
            </div>

            <div class="row">
                <label>Illustrator</label>
                <input type="text" name="illustrator" value="{{data.illustrator}}" placeholder="">
            </div>

            <div class="row">
                <label>Illustrator Surname</label>
                <input type="text" name="illustrator_surname" value="{{data.illustrator_surname}}" placeholder="">
            </div>

            <div class="row">
                <label>Illustrator Link</label>
                <input type="text" name="illustrator_link" value="{{data.illustrator_link}}" placeholder="">
            </div>

            <div class="row">
                <label>Publisher</label>
                <input type="text" name="publisher" value="{{data.publisher}}" placeholder="Publisher">
            </div>

            <div class="row">
                <label>ISBN</label>
                <input type="text" name="isbn" value="{{data.isbn}}" placeholder="ISBN">
            </div>

            <div class="row">
                <label>Language</label>
                <input type="text" name="language" value="{{data.language}}" placeholder="English, French, etc.">
            </div>

            <div class="row">
                <label>Age Range</label>
                <input type="text" name="age_range" value="{{data.age_range}}" placeholder="">
            </div>

            <div class="row">
                <label>Price</label>
                <input type="text" name="price" value="{{data.price}}" placeholder="Price">
            </div>

            <div class="row">
                <label>Featured Weight</label>
                <input type="text" name="weight" value="{{data.weight}}" placeholder="">
            </div>

            <div class="row">
                <label>Estimated reading time</label>
                <select name="approx_reading_time">
                    {{#select data.approx_reading_time}}
                        <option value="0">1-10</option>
                        <option value="1">11-20</option>
                        <option value="2">21-30</option>
                        <option value="3">31+</option>
                    {{/select}}
                </select>
            </div>

            <div class="row">
                <label>Synopsis</label>
                <textarea name="description" placeholder="Synopsis" style="width:75%; height:400px;">{{data.description}}</textarea>
            </div>

            <div class="row">
                <label>Preview Pages</label>
                <input type="text" name="preview_pages" value="{{data.preview_pages}}" placeholder="Ex. 1,2,3">
            </div>

            <div class="row">
                <label>Apple Product Identifier</label>
                <input type="text" name="apple_id" value="{{data.apple_id}}" placeholder="">
            </div>
        </section>

        <section class="col">
            <h3>Sorting/Filtering Fields</h3>

            <div class="row">
                <label>Publication Date</label>
                <input type="text" name="publication_date" value="{{data.publication_date}}" placeholder="">
            </div>

            <div class="row">
                <label>Copyright</label>
                <input type="text" name="copyright" value="{{data.copyright}}" placeholder="">
            </div>

            <div class="row">
                <label>Pages</label>
                <input type="text" name="pages" value="{{data.pages}}" placeholder="">
            </div>

            <div class="row">
                <label>Date Added to StorySnap</label>
                <input type="text" name="pages" value="{{data.date_added}}" placeholder="">
            </div>

            <div class="row">
                <label>Difficulty</label>
                <input type="text" name="difficulty" value="{{data.difficulty}}" placeholder="Difficulty">
            </div>

            <div class="row">
                <label>Picture Book or Illustrated Chapter Book</label>
                <select name="illustrated">
                    {{#select data.illustrated}}
                        <option value="false">Picture</option>
                        <option value="true">Illustrated</option>
                    {{/select}}
                </select>
            </div>

            <div class="row">
                <label>One-off book or part of a series</label>
                <select name="series">
                    {{#select data.series}}
                        <option value="false">One-off</option>
                        <option value="true">Series</option>
                    {{/select}}
                </select>
            </div>

            <div class="row">
                <label>Poetry or Prose</label>
                <select name="poetry">
                    {{#select data.poetry}}
                        <option value="false">Prose</option>
                        <option value="true">Poetry</option>
                    {{/select}}
                </select>
            </div>
        </section>

        <div class="clear"></div>

        <div class="row">
            <input type="hidden" name="_id" value="{{data._id}}">
            <input type="submit" id="submit" value="Save"> <input type="button" value="Cancel" data-href="/admin">
        </div>


        <div class="divider"></div>

        <!--<div class="row">
            <label>Pages</label>
            <table>
                {{#each data.images}}
                    <tr>
                        <td style="text-align:left;">Page #{{@index}}</td><td style="text-align:left;">{{this}}</td><td><span class="fa fa-trash"></span></td>
                    </tr>
                {{/each}}
            </table>
        </div>-->

        <div class="row">
            <label>Tips</label>
            {{#if data.tips}}
                <table>
                {{#each data.tips}}
                    <tr>
                        <td style="text-align:left;">Tip #{{@index}}</td><td class="edit" data-type="tip" data-id="{{data._id}}" data-idx="{{@index}}" style="text-align:left;">{{this}}</td><td><span class="fa fa-trash"></span></td>
                    </tr>
                {{/each}}
            </table>
            {{else}}
                <table>
                    {{#each data.images}}
                        <tr>
                            <td style="text-align:left;">Tip #{{@index}}</td><td class="edit" data-type="tip" data-id="{{data._id}}" data-idx="{{@index}}" style="text-align:left;">&nbsp;</td><td><span class="fa fa-trash"></span></td>
                        </tr>
                    {{/each}}
                </table>
            {{/if}}
        </div>

        <div class="row">
            <label>Objective Categories</label>
            <table id="obj-cats">
                {{#each data.objective_categories}}
                    <tr>
                        <td class="edit" data-type="tip" data-id="{{data._id}}" data-idx="{{@index}}" style="text-align:left;">&nbsp;</td><td><span class="fa fa-trash"></span></td>
                    </tr>
                {{/each}}
            </table>
            <input id="ob-cat-input"> <span blklab-click="addObCat">+</span>
        </div>

        <div class="row">
            <label>Subjective Categories</label>
            <table id="sub-cats">
                {{#each data.subjective_categories}}
                    <tr>
                        <td class="edit" data-type="tip" data-id="{{data._id}}" data-idx="{{@index}}" style="text-align:left;">&nbsp;</td><td><span class="fa fa-trash"></span></td>
                    </tr>
                {{/each}}
            </table>
            <input id="sub-cat-input"> <span blklab-click="addSubCat">+</span>
        </div>



    </form>

    <br>
    <br>
    <br>
    <br>
    <br>

    <h2>Load Files</h2>

    <div class="row">
        <label>Has Cropmarks?</label>
        <select id="cropmarks">
            <option value="0">NO</option>
            <option value="1">YES</option>
        </select>
    </div>

    <div class="row">
        <label>Assets</label>
        <input type="file" blklab-change="loadFiles">
    </div>

    <div class="row">
        <input type="button" blklab-click="optimize" value="Optimize">
    </div>

    <div class="row">
        <input type="button" blklab-click="genThumb" value="Generate Thumbnail">
    </div>

    <div class="row">
        <input type="button" blklab-click="genFeatured" value="Generate Featured Image">
    </div>

</section>
