<header>
    <h1>StorySnap Dashboard</h1>
</header>

<div class="tabs">
    <ul>
        <li class="click" data-href="/admin/dashboard">Overview</li>
        <li>Metrics</li>
        <li class="active click" data-href="/admin/dashboard/filter">Filters</li>
    </ul>
</div>

<section>
    <section class="grid">
        <h3><span id="filteredBy">Filters</span>
            <select id="filterBy" blklab-change="filterBy" style="float:right; margin-right:20px 10px;">
                <option value="profiles">All Users</option>
                <option value="no-action">Created profile but not taken any other action</option>
                <option value="purchase-not-recorded">Purchased a story but not recorded it</option>
                <option value="recorded-not-shared">Purchased and recorded a story but not shared it</option>
                <option value="recorded-and-shared">Purchased, recorded and shared a story</option>
                <option value="invite-sent">Invited someone to record a story</option>
                <option value="invite-accepted">Accepted an invitation to record a story</option>
                <option value="invite-accepted-and-recorded">Accepted invitation and recorded a story</option>
            </select>
        </h3>

        <div class="grid-cell">
            <table>
                <tr>
                    <th style="padding:20px 10px; text-transform: capitalize;">First Name</th>
                    <th style="padding:20px 10px; text-transform: capitalize;">Last Name</th>
                    <th style="padding:20px 10px;">Email</th>
                </tr>
                {{#each data}}
                    <tr>
                        <td style="padding:20px 10px; text-transform: capitalize;">{{first_name}}</td>
                        <td style="padding:20px 10px; text-transform: capitalize;">{{last_name}}</td>
                        <td style="padding:20px 10px;">{{email}}</td>
                    </tr>
                {{/each}}
            </table>

        </div>

        <div class="divider"></div>

    </section>
</section>
