<section id="wrapper">
    <h2>Users</h2>
    <div class="row">
        <input type="search" id="search" blklab-typing="search" data-fields="first_name,last_name,email" placeholder="Search First Name, Last Name, Email" style="width:50%;">
    </div>

    <table border="1" class="bordered" id="data">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Confirmed</th>
            <th></th>
        </tr>
    {{#each data}}
        <tr class="book" id="book-{{_id}}">
            <td class="inline" data-key="first_name" data-type="Users" data-search="true" data-id="{{_id}}">{{first_name}}</td>
            <td class="inline" data-key="last_name" data-type="Users" data-search="true" data-id="{{_id}}">{{last_name}}</td>
            <td class="inline" data-key="email" data-type="Users" data-search="true" data-id="{{_id}}">{{email}}</td>
            <td class="inline" data-key="confirmed" data-type="Users" data-id="{{_id}}">{{confirmed}}</td>
            <td><span style="cursor:pointer;" class="fa fa-pencil" data-href="/admin/users/{{_id}}"></span> <span class="fa fa-trash" data-id="{{_id}}" data-type="Users" blklab-click="remove"></span></td>
        </tr>
    {{else}}
        <tr>
            <td colspan="5">No Users</td>
        </tr>
    {{/each}}
    </table>

</section>

