<section id="home">
    <section id="hero" class="professor fade">
        <div class="overlay">
            <header class="inner">
                <h1>StorySnap</h1>

            </header>


            <section id="forgot">
                <form class="onboarding" id="onboarding" blklab-submit="login">
                    <h2>Password Reset</h2>
                    <div class="row">
                        <input type="password" name="password" id="password_field" placeholder="Password" class="icon lock">
                    </div>
                    <div id="reset-form-message" class="center alert"></div>
                    <input type="button" value="Update Password" class="inline" blklab-click="updatePassword" id="forgotButton">
                </form>
            </section>

        </div>
    </section>
</section>
